.EmailTitle {
    width: 100%;
    padding: 2px 0 6px;
    hr {
      opacity: 0.8;
      background-color: inherit;
      margin-block: 0;
    }
    p {
      padding: 4px 0;
      font-size: 12px;
      color: #a2aab4;
    }
    h3 {
      padding: 10px 0;
      font-size: 24px;
    }
  }